doctype html
html(itemscope, itemtype="http://schema.org/Product")
  head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="Description", content=t('pages.index.description'))
      meta(name="msvalidate.01", content="EB6585FD6FF664D9DA25C623D6E471CF")
      meta(itemprop="name", content=t('app.name'))
      meta(itemprop="description", content=t('pages.index.description'))
      meta(name="keywords", content="bookmark, bookmarkify, script, javascript, create, encoded")

      title=t('pages.index.title')

      include ./embedded_styles.jade

  body

    div
      h1(class='line')=t('app.name')

      if failed

        div(class='error label')=t('pages.index.failed')

      else if bookmark

        div(class='success label')=t('pages.index.success')
        include ./index_bookmark.jade
        p(class='c h')=t('pages.index.another')

      else

        p(class='c')=t('pages.index.intro1')
        p(class='c')=t('pages.index.intro2')

      form(class='line p', action="/", method="POST")

        textarea(class='line', name="script", placeholder=t('pages.index.placeholder_script'))=script

        input(type='text', class='line', name="name", placeholder=t('pages.index.placeholder_name'), value=name)

        button(type='submit', class='button line')=t('pages.index.submit')

      div(class='sharing line')
        include ./sharing.jade

      include ./ads.jade
      include ./analytics.jade

  footer
    a(href='https://github.com/ajuste/bookmarkify', target='blank')=t('pages.index.github')
